#THIS IS AN EXAMPLE
#Put dev.secret.exs in config/
#Get keys here:
#https://www.google.com/recaptcha/admin/create

import Config

# Configurations for Google reCAPTCHA
config :demo, :google_recaptcha,
  secret: "a string",
  public_key: "another string"
